.footer{
    background-color: palevioletred;
    height: 150px;
    width: 100%;
}
.footer-white{
    background-color: pink;
    height: 30px;
    width: 100%;
}
.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    
}
.footer-content{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

@media screen and (max-width:480px){
    .footer{
        height: 90px;
        padding-bottom: 8px;
    }
}